.SideMenu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    max-width: 290px;
    padding: 30px;
    background: #fff;
    z-index: 90;
    transform: translateX(0px);
    transition: transform .2s ease-in-out;
    box-sizing: border-box;
}
.SideMenu.close{
    transform: translateX(-290px);
}
.SideMenu ul{
    margin: 0;
    padding: 0;
}
.SideMenu li {
    list-style: none;
    margin: 0;
    font-size: 24px;
    transition: opacity .2s linear;
    position: relative;
}
.SideMenu ul li a{
    text-decoration: none;
    color: #037ade;
}
.SideMenu li a:hover{
    opacity: 0.6;
}
.active{
    font-weight: bold;
}

