.TotalAllDays{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: #efdbcb;
    min-width: 50%;
    text-align: center;
    font-size: 18px;
}
.allDaysContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #efdbcb;
    border-radius: 5px;
}
.allDaysContainer div{
    width: 100%;
}
.dayElement{
    margin-bottom: 20px;
}
.dayElement div:first-child{
    font-weight: bold;
    font-size: 22px;
}
.dayElement div:nth-child(2){
    color: #e984a2;
}
.dayElement div:nth-child(3){
    color: #0bebba;
}
.allDaysContainer button{
    width: 300px;
    max-width: 200px;
    align-self: center;
    margin: 15px 10px;
    font-size: 18px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #345da7;
    color: #efdbcb;
    transition: all .2s linear;
}
.allDaysContainer button:hover{
    background: #3b8ac4;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}
